* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.background {
  background-image: url("./assets/temp-background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.modal {
  border-radius: 100%;
  background-color: aqua;
  text-align: center;
}
